.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 00px;
    width: 100%;
    height: 100%;
    padding: 0px;
    box-sizing: border-box;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: #ff1a1a;
    border: 10px solid #ea9308;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
}

.tile.empty {
    background-color: #ea9308;
    border: none;
    cursor: default;
}

/* Responsive Design */
@media (max-width: 600px) {
    .board {
        gap: 5px;
        padding: 5px;
    }
}
